name: Docker image build and push

on:
  release:
    types: [published] # Triggers when you create a release

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: wwang721
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Get version from repository
        id: get_version
        run: |
          VERSION=$(sed -n 's/^__version__ = ["'\'']\([^"'\'']*\)["'\'']/\1/p' pyafv/_version.py)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      # Set up the multi-architecture builder
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: .github/Dockerfile
          push: true
          platforms: linux/amd64,linux/arm64
          provenance: false  # disable the extra attestation manifests
          tags: |
            ghcr.io/${{ github.repository_owner }}/pyafv:latest
            ghcr.io/${{ github.repository_owner }}/pyafv:${{ steps.get_version.outputs.version }}
            docker.io/wwang721/pyafv:latest
            docker.io/wwang721/pyafv:${{ steps.get_version.outputs.version }}
