name: pytest

on:
  push:
    paths-ignore:
      - 'README.md'
      - 'examples/**'
      - 'assets/**'
      - 'LICENSE'
      - '.gitignore'

  pull_request:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
      - 'examples/**'
      - 'assets/**'
      - 'LICENSE'
      - '.gitignore'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - name: Install uv
        run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Sync dependencies
        run: |
          uv sync --dev

      - name: Run tests
        run: |
          uv run pytest --cov=afv --cov-branch --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
